mat-form-field, textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 1rem;
  margin-top: 0;
}

button {
  margin-top: 1rem;
}