<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <label for="title">Post Title</label>
      <input matInput type="text" formControlName="title">
      <mat-error *ngIf="form.get('title').invalid">Title is required</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button color="accent" type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
    </div>
    <mat-form-field>
      <label for="content">Your message</label>
      <textarea matInput rows="10" formControlName="content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Content is required</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">{{mode == "create" ? "Submit" : "Edit"}}</button>
  </form>
</mat-card>